GOOGLE_PLACES_API_KEY=your_google_places_api_key_here
PORT=3000
HTTPS_KEY_PATH=certs/localhost-key.pem
HTTPS_CERT_PATH=certs/localhost-cert.pem
MAX_DAILY_GOOGLE_CALLS=25
INITIAL_SEARCH_RADIUS_METERS=3000
EXPANDED_SEARCH_RADIUS_METERS=5000
RATE_LIMIT_WINDOW_MINUTES=10
RATE_LIMIT_MAX_REQUESTS=30
GOOGLE_ERROR_COOLDOWN_MINUTES=30
RECOMMENDATION_COUNT=20
GOOGLE_MAX_RESULT_COUNT=20
